In [1]:
# Import Pandas
import pandas as pd 
# Read File to extract columns for ethinic data 
data = pd.read_csv('files/CD_SA_with_Zip_all.csv')

In [2]:
# View Bottom Data 
data.tail(10)

,Unnamed: 0,City,Population,Age,Average Income,Percent of Men in City,Percent of Women in City,Per Capita Income,Median House Value,Racial Breakdown,County,Higher Degree,H.S Diploma,No H.S Diploma,ZipCode,Lat,Long
1642,637,Faxon,1395,50.1,49052,51.0,49.0,25222,152800,"[(['White alone'], ['1,340']), (['Black alone...",Lycoming-County,30.987853,57.870600,11.141547,17701,41.23,-77.03
1643,638,Garden View,2503,45.5,43022,44.0,56.0,23269,135473,"[(['White alone'], ['2,393']), (['Black alone...",Lycoming-County,30.987853,57.870600,11.141547,17701,41.23,-77.03
1644,639,Kenmar,4124,41.6,49052,44.6,55.4,25222,152800,"[(['White alone'], ['3,804']), (['Black alone...",Lycoming-County,30.987853,57.870600,11.141547,17701,41.23,-77.03
1645,640,Oval,361,39.5,49052,50.1,49.9,25222,152800,"[(['White alone'], ['359']), (['American Indi...",Lycoming-County,30.987853,57.870600,11.141547,17701,41.23,-77.03
1646,641,Salladasburg,240,41.2,45453,49.0,51.0,23527,108292,"[(['White alone'], ['229']), (['Black alone']...",Lycoming-County,30.987853,57.870600,11.141547,17701,41.23,-77.03
1647,642,South Williamsport,6330,37.5,45800,47.6,52.4,24624,128543,"[(['White alone'], ['5,934']), (['Black alone...",Lycoming-County,30.987853,57.870600,11.141547,17701,41.23,-77.03
1648,643,West Falls,382,53.1,55354,52.9,47.1,27833,168598,"[(['White alone'], ['367']), (['Hispanic'], [...",Wyoming-County,27.111246,64.535120,8.353634,18419,41.56,-75.78
1649,644,Susquehanna Depot,1572,39.3,34198,46.9,53.1,16188,87725,"[(['White alone'], ['1,571']), (['Hispanic'],...",Susquehanna-County,25.327568,63.567872,11.104560,18413,41.64,-75.59
1650,645,McAlisterville,971,35.4,52249,52.3,47.7,22433,136622,"[(['White alone'], ['956']), (['Hispanic'], [...",Juniata-County,20.003449,62.355579,17.640973,17014,40.65,-77.10
1651,646,McConnellsburg,1049,40.2,36561,40.7,59.3,22241,139010,"[(['White alone'], ['1,125']), (['Black alone...",Fulton-County,20.017298,66.961368,13.021334,15536,39.93,-78.21

In [3]:
# Import numpy 

import numpy as np

# Set all Ethnic columns to null
data['White alone'] = np.nan
data['Hispanic'] = np.nan
data['Two or more races'] = np.nan
data['Native Hawaiian'] = np.nan
data['Black alone'] = np.nan
data['Asian alone'] = np.nan
data['American Indian alone'] = np.nan
data['Other race alone'] = np.nan

data

,Unnamed: 0,City,Population,Age,Average Income,Percent of Men in City,Percent of Women in City,Per Capita Income,Median House Value,Racial Breakdown,...,Lat,Long,White alone,Hispanic,Two or more races,Native Hawaiian,Black alone,Asian alone,American Indian alone,Other race alone
0,0,Aaronsburg,613,52.2,60710,53.5,46.5,26139,170914,"[(['White alone'], ['606']), (['Hispanic'], [...",...,40.86,-77.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Bellefonte,6227,42.0,56571,48.8,51.2,31247,189215,"[(['White alone'], ['5,959']), (['Black alone...",...,40.91,-77.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Blanchard,740,34.8,48846,48.3,51.7,30640,135294,"[(['White alone'], ['722']), (['American Indi...",...,41.04,-77.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Boalsburg,3722,44.6,108712,51.8,48.2,43686,266992,"[(['White alone'], ['3,443']), (['Black alone...",...,40.77,-77.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Centre Hall,1238,43.1,63807,49.2,50.8,29473,200108,"[(['White alone'], ['1,248']), (['Hispanic'],...",...,40.84,-77.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Clarence,626,46.6,55731,52.4,47.6,27037,141176,"[(['White alone'], ['622']), (['American Indi...",...,41.08,-77.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Coburn,236,31.9,67538,50.0,50.0,23545,134204,"[(['White alone'], ['228']), (['Hispanic'], [...",...,40.85,-77.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Howard,718,44.7,55523,50.3,49.7,27453,162527,"[(['White alone'], ['695']), (['Hispanic'], [...",...,41.01,-77.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Lemont,2270,45.9,98769,49.5,50.5,49294,249454,"[(['White alone'], ['2,119']), (['Asian alone...",...,40.78,-77.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Milesburg,1095,34.3,50180,46.9,53.1,26728,155446,"[(['White alone'], ['1,106']), (['Black alone...",...,40.94,-77.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,Millheim,886,41.5,69671,53.9,46.1,28003,157080,"[(['White alone'], ['886']), (['Two or more r...",...,40.89,-77.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,Mingoville,503,39.2,60266,58.4,41.6,31158,224400,"[(['White alone'], ['498']), (['Hispanic'], [...",...,40.93,-77.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,Moshannon,281,49.5,60266,49.6,50.4,31158,224400,"[(['White alone'], ['280']), (['Asian alone']...",...,41.02,-78.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,Philipsburg,2707,44.9,40309,46.7,53.3,26753,106971,"[(['White alone'], ['2,689']), (['Two or more...",...,40.89,-78.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,Pine Grove Mills,1502,51.8,81063,44.2,55.8,37191,225925,"[(['White alone'], ['1,388']), (['Hispanic'],...",...,40.73,-77.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,Port Matilda,596,39.0,56769,46.0,54.0,29185,108170,"[(['White alone'], ['591']), (['Hispanic'], [...",...,40.79,-78.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,Rebersburg,494,36.4,50334,46.0,54.0,19560,140196,"[(['White alone'], ['483']), (['Two or more r...",...,40.94,-77.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,Sandy Ridge,407,43.3,120587,35.8,64.2,28824,95207,"[(['White alone'], ['405']), (['Hispanic'], [...",...,40.79,-78.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,Snow Shoe,774,38.9,64154,49.0,51.0,26412,127777,"[(['White alone'], ['761']), (['Two or more r...",...,41.02,-77.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,Spring Mills,268,34.4,55384,53.9,46.1,27452,117756,"[(['White alone'], ['266']), (['Two or more r...",...,40.86,-77.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,State College,42100,22.2,35023,54.3,45.7,19736,300326,"[(['White alone'], ['32,863']), (['Asian alon...",...,40.79,-77.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,Unionville,281,39.5,52615,44.7,55.3,26946,136165,"[(['White alone'], ['284']), (['Asian alone']...",...,39.89,-75.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,Abbottstown,1013,36.9,56524,50.1,49.9,22680,152520,"[(['White alone'], ['894']), (['Hispanic'], [...",...,39.88,-76.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,Arendtsville,954,34.1,56018,48.9,51.1,23856,184065,"[(['White alone'], ['742']), (['Hispanic'], [...",...,39.92,-77.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,Aspers,350,36.9,59300,56.2,43.8,28404,206900,"[(['White alone'], ['257']), (['Hispanic'], [...",...,39.97,-77.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,Bendersville,641,34.0,55260,47.6,52.4,20723,177479,"[(['White alone'], ['486']), (['Hispanic'], [...",...,39.98,-77.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,Biglerville,1202,36.3,48477,49.5,50.5,25095,180453,"[(['White alone'], ['953']), (['Hispanic'], [...",...,39.93,-77.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,Cashtown,459,47.2,59300,44.6,55.4,28404,206900,"[(['White alone'], ['428']), (['Hispanic'], [...",...,39.88,-77.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,East Berlin,1524,40.6,55376,42.1,57.9,25412,187145,"[(['White alone'], ['1,477']), (['Two or more...",...,39.93,-76.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,Fairfield,506,52.8,50573,43.6,56.4,26569,191499,"[(['White alone'], ['479']), (['Black alone']...",...,39.78,-77.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1622,617,North York,1974,36.1,42787,51.0,49.0,22225,92183,"[(['White alone'], ['1,491']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1623,618,Parkville,6706,35.6,55648,47.5,52.5,26797,153093,"[(['White alone'], ['6,285']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1624,619,Pennville,1947,46.4,48768,44.3,55.7,26290,144917,"[(['White alone'], ['1,841']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1625,620,Queens Gate,1464,31.7,62462,47.7,52.3,29610,172000,"[(['White alone'], ['1,127']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1626,621,Shiloh,11218,47.9,67266,47.5,52.5,30353,175373,"[(['White alone'], ['10,056']), (['Black alon...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1627,622,Springetts Manor-Yorklyn,4577,37.3,53210,59.3,40.7,25542,165482,"[(['White alone'], ['3,079']), (['Black alone...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1628,623,Spry,4891,42.4,68495,48.2,51.8,32807,171080,"[(['White alone'], ['4,475']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1629,624,Stonybrook-Wilshire,5963,42.3,78658,49.1,50.9,38502,217941,"[(['White alone'], ['5,005']), (['Asian alone...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1630,625,Stonybrook,2384,43.9,62462,52.9,47.1,29610,172000,"[(['White alone'], ['2,110']), (['Black alone...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1631,626,Susquehanna Trails,2264,30.2,71002,50.5,49.5,24916,145428,"[(['White alone'], ['2,165']), (['Two or more...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632,627,Tyler Run-Queens Gate,3222,45.2,53155,45.1,54.9,35933,186307,"[(['White alone'], ['2,731']), (['Black alone...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1633,628,Tyler Run,1901,56.8,62462,49.3,50.7,29610,172000,"[(['White alone'], ['1,773']), (['Black alone...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1634,629,Valley Green,3429,36.9,61998,49.5,50.5,25241,143998,"[(['White alone'], ['3,490']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1635,630,Weigelstown,12875,40.0,57035,47.5,52.5,28228,149005,"[(['White alone'], ['11,428']), (['Black alon...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1636,631,West York,4571,32.9,42381,49.7,50.3,21568,101483,"[(['White alone'], ['3,615']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1637,632,Winterstown,626,51.1,65746,45.7,54.3,28367,164233,"[(['White alone'], ['620']), (['Two or more r...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1638,633,Yoe,1011,38.3,44157,50.7,49.3,22475,114973,"[(['White alone'], ['909']), (['Hispanic'], [...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1639,634,Yorkana,229,37.1,58050,51.9,48.1,24846,129077,"[(['White alone'], ['218']), (['Hispanic'], [...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1640,635,Yorklyn,1912,30.6,62462,46.1,53.9,29610,172000,"[(['White alone'], ['1,544']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1641,636,Duboistown,1213,48.2,48781,49.9,50.1,25838,131575,"[(['White alone'], ['1,180']), (['Hispanic'],...",...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1642,637,Faxon,1395,50.1,49052,51.0,49.0,25222,152800,"[(['White alone'], ['1,340']), (['Black alone...",...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1643,638,Garden View,2503,45.5,43022,44.0,56.0,23269,135473,"[(['White alone'], ['2,393']), (['Black alone...",...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1644,639,Kenmar,4124,41.6,49052,44.6,55.4,25222,152800,"[(['White alone'], ['3,804']), (['Black alone...",...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1645,640,Oval,361,39.5,49052,50.1,49.9,25222,152800,"[(['White alone'], ['359']), (['American Indi...",...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1646,641,Salladasburg,240,41.2,45453,49.0,51.0,23527,108292,"[(['White alone'], ['229']), (['Black alone']...",...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1647,642,South Williamsport,6330,37.5,45800,47.6,52.4,24624,128543,"[(['White alone'], ['5,934']), (['Black alone...",...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1648,643,West Falls,382,53.1,55354,52.9,47.1,27833,168598,"[(['White alone'], ['367']), (['Hispanic'], [...",...,41.56,-75.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1649,644,Susquehanna Depot,1572,39.3,34198,46.9,53.1,16188,87725,"[(['White alone'], ['1,571']), (['Hispanic'],...",...,41.64,-75.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1650,645,McAlisterville,971,35.4,52249,52.3,47.7,22433,136622,"[(['White alone'], ['956']), (['Hispanic'], [...",...,40.65,-77.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1651,646,McConnellsburg,1049,40.2,36561,40.7,59.3,22241,139010,"[(['White alone'], ['1,125']), (['Black alone...",...,39.93,-78.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Read and locate impurity rows that require cleaning 
data[data['Racial Breakdown'] == '*']

,Unnamed: 0,City,Population,Age,Average Income,Percent of Men in City,Percent of Women in City,Per Capita Income,Median House Value,Racial Breakdown,...,Lat,Long,White alone,Hispanic,Two or more races,Native Hawaiian,Black alone,Asian alone,American Indian alone,Other race alone
379,379,Aristes,311,50.7,47687,48.1,51.9,25322,76954,*,...,40.81,-76.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,531,Arona,356,46.5,40160,53.4,46.6,20222,87627,*,...,40.26,-79.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,577,Arnot,332,45.3,50225,54.5,45.5,25553,134857,*,...,41.66,-77.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
632,632,Wilmore,221,35.1,56700,53.1,46.9,22170,83446,*,...,40.38,-78.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
684,684,Austin,554,40.2,39955,50.0,50.0,28375,61771,*,...,41.63,-78.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
730,730,Berrysburg,370,43.6,56999,53.3,46.7,27703,112672,*,...,40.60,-76.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
804,804,Spartansburg,301,45.7,44154,50.4,49.6,24474,78015,*,...,41.82,-79.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,887,Karns City,210,47.6,27855,44.3,55.7,17297,99661,*,...,40.99,-79.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
928,928,Jackson Center,221,45.3,55335,54.6,45.4,25974,104685,*,...,41.27,-80.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1202,197,Longfellow,215,62.3,43559,44.7,55.3,22481,103505,*,...,40.53,-77.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1314,309,Forrestville,422,45.6,54492,46.9,53.1,30402,86450,*,...,40.67,-76.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# dropping impurity rows 
data.drop(data.index[np.where(data['Racial Breakdown'] == '*')], inplace=True)
data[data['Racial Breakdown'] == '*']

Empty DataFrame
Columns: [Unnamed: 0, City, Population, Age, Average Income, Percent of Men in City, Percent of Women in City, Per Capita Income, Median House Value, Racial Breakdown, County, Higher Degree, H.S Diploma, No H.S Diploma, ZipCode, Lat, Long, White alone, Hispanic, Two or more races, Native Hawaiian, Black alone, Asian alone, American Indian alone, Other race alone]
Index: []

[0 rows x 25 columns]

In [6]:
# Deleting the initial additional index 
del data['Unnamed: 0']

In [7]:
data.tail()

,City,Population,Age,Average Income,Percent of Men in City,Percent of Women in City,Per Capita Income,Median House Value,Racial Breakdown,County,...,Lat,Long,White alone,Hispanic,Two or more races,Native Hawaiian,Black alone,Asian alone,American Indian alone,Other race alone
1647,South Williamsport,6330,37.5,45800,47.6,52.4,24624,128543,"[(['White alone'], ['5,934']), (['Black alone...",Lycoming-County,...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1648,West Falls,382,53.1,55354,52.9,47.1,27833,168598,"[(['White alone'], ['367']), (['Hispanic'], [...",Wyoming-County,...,41.56,-75.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1649,Susquehanna Depot,1572,39.3,34198,46.9,53.1,16188,87725,"[(['White alone'], ['1,571']), (['Hispanic'],...",Susquehanna-County,...,41.64,-75.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1650,McAlisterville,971,35.4,52249,52.3,47.7,22433,136622,"[(['White alone'], ['956']), (['Hispanic'], [...",Juniata-County,...,40.65,-77.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1651,McConnellsburg,1049,40.2,36561,40.7,59.3,22241,139010,"[(['White alone'], ['1,125']), (['Black alone...",Fulton-County,...,39.93,-78.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Create a copy 
data1 = data.copy()
# Reset index
data1.reset_index(inplace=True)
data1

,index,City,Population,Age,Average Income,Percent of Men in City,Percent of Women in City,Per Capita Income,Median House Value,Racial Breakdown,...,Lat,Long,White alone,Hispanic,Two or more races,Native Hawaiian,Black alone,Asian alone,American Indian alone,Other race alone
0,0,Aaronsburg,613,52.2,60710,53.5,46.5,26139,170914,"[(['White alone'], ['606']), (['Hispanic'], [...",...,40.86,-77.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Bellefonte,6227,42.0,56571,48.8,51.2,31247,189215,"[(['White alone'], ['5,959']), (['Black alone...",...,40.91,-77.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Blanchard,740,34.8,48846,48.3,51.7,30640,135294,"[(['White alone'], ['722']), (['American Indi...",...,41.04,-77.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Boalsburg,3722,44.6,108712,51.8,48.2,43686,266992,"[(['White alone'], ['3,443']), (['Black alone...",...,40.77,-77.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Centre Hall,1238,43.1,63807,49.2,50.8,29473,200108,"[(['White alone'], ['1,248']), (['Hispanic'],...",...,40.84,-77.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Clarence,626,46.6,55731,52.4,47.6,27037,141176,"[(['White alone'], ['622']), (['American Indi...",...,41.08,-77.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Coburn,236,31.9,67538,50.0,50.0,23545,134204,"[(['White alone'], ['228']), (['Hispanic'], [...",...,40.85,-77.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Howard,718,44.7,55523,50.3,49.7,27453,162527,"[(['White alone'], ['695']), (['Hispanic'], [...",...,41.01,-77.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,Lemont,2270,45.9,98769,49.5,50.5,49294,249454,"[(['White alone'], ['2,119']), (['Asian alone...",...,40.78,-77.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Milesburg,1095,34.3,50180,46.9,53.1,26728,155446,"[(['White alone'], ['1,106']), (['Black alone...",...,40.94,-77.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,Millheim,886,41.5,69671,53.9,46.1,28003,157080,"[(['White alone'], ['886']), (['Two or more r...",...,40.89,-77.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,Mingoville,503,39.2,60266,58.4,41.6,31158,224400,"[(['White alone'], ['498']), (['Hispanic'], [...",...,40.93,-77.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,Moshannon,281,49.5,60266,49.6,50.4,31158,224400,"[(['White alone'], ['280']), (['Asian alone']...",...,41.02,-78.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,Philipsburg,2707,44.9,40309,46.7,53.3,26753,106971,"[(['White alone'], ['2,689']), (['Two or more...",...,40.89,-78.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,Pine Grove Mills,1502,51.8,81063,44.2,55.8,37191,225925,"[(['White alone'], ['1,388']), (['Hispanic'],...",...,40.73,-77.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,Port Matilda,596,39.0,56769,46.0,54.0,29185,108170,"[(['White alone'], ['591']), (['Hispanic'], [...",...,40.79,-78.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,Rebersburg,494,36.4,50334,46.0,54.0,19560,140196,"[(['White alone'], ['483']), (['Two or more r...",...,40.94,-77.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,Sandy Ridge,407,43.3,120587,35.8,64.2,28824,95207,"[(['White alone'], ['405']), (['Hispanic'], [...",...,40.79,-78.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,Snow Shoe,774,38.9,64154,49.0,51.0,26412,127777,"[(['White alone'], ['761']), (['Two or more r...",...,41.02,-77.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,Spring Mills,268,34.4,55384,53.9,46.1,27452,117756,"[(['White alone'], ['266']), (['Two or more r...",...,40.86,-77.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,State College,42100,22.2,35023,54.3,45.7,19736,300326,"[(['White alone'], ['32,863']), (['Asian alon...",...,40.79,-77.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,Unionville,281,39.5,52615,44.7,55.3,26946,136165,"[(['White alone'], ['284']), (['Asian alone']...",...,39.89,-75.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,Abbottstown,1013,36.9,56524,50.1,49.9,22680,152520,"[(['White alone'], ['894']), (['Hispanic'], [...",...,39.88,-76.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,Arendtsville,954,34.1,56018,48.9,51.1,23856,184065,"[(['White alone'], ['742']), (['Hispanic'], [...",...,39.92,-77.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,Aspers,350,36.9,59300,56.2,43.8,28404,206900,"[(['White alone'], ['257']), (['Hispanic'], [...",...,39.97,-77.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,Bendersville,641,34.0,55260,47.6,52.4,20723,177479,"[(['White alone'], ['486']), (['Hispanic'], [...",...,39.98,-77.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,Biglerville,1202,36.3,48477,49.5,50.5,25095,180453,"[(['White alone'], ['953']), (['Hispanic'], [...",...,39.93,-77.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,Cashtown,459,47.2,59300,44.6,55.4,28404,206900,"[(['White alone'], ['428']), (['Hispanic'], [...",...,39.88,-77.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,East Berlin,1524,40.6,55376,42.1,57.9,25412,187145,"[(['White alone'], ['1,477']), (['Two or more...",...,39.93,-76.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,Fairfield,506,52.8,50573,43.6,56.4,26569,191499,"[(['White alone'], ['479']), (['Black alone']...",...,39.78,-77.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611,1622,North York,1974,36.1,42787,51.0,49.0,22225,92183,"[(['White alone'], ['1,491']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1612,1623,Parkville,6706,35.6,55648,47.5,52.5,26797,153093,"[(['White alone'], ['6,285']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1613,1624,Pennville,1947,46.4,48768,44.3,55.7,26290,144917,"[(['White alone'], ['1,841']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1614,1625,Queens Gate,1464,31.7,62462,47.7,52.3,29610,172000,"[(['White alone'], ['1,127']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1615,1626,Shiloh,11218,47.9,67266,47.5,52.5,30353,175373,"[(['White alone'], ['10,056']), (['Black alon...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1616,1627,Springetts Manor-Yorklyn,4577,37.3,53210,59.3,40.7,25542,165482,"[(['White alone'], ['3,079']), (['Black alone...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1617,1628,Spry,4891,42.4,68495,48.2,51.8,32807,171080,"[(['White alone'], ['4,475']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1618,1629,Stonybrook-Wilshire,5963,42.3,78658,49.1,50.9,38502,217941,"[(['White alone'], ['5,005']), (['Asian alone...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1619,1630,Stonybrook,2384,43.9,62462,52.9,47.1,29610,172000,"[(['White alone'], ['2,110']), (['Black alone...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1620,1631,Susquehanna Trails,2264,30.2,71002,50.5,49.5,24916,145428,"[(['White alone'], ['2,165']), (['Two or more...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1621,1632,Tyler Run-Queens Gate,3222,45.2,53155,45.1,54.9,35933,186307,"[(['White alone'], ['2,731']), (['Black alone...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1622,1633,Tyler Run,1901,56.8,62462,49.3,50.7,29610,172000,"[(['White alone'], ['1,773']), (['Black alone...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1623,1634,Valley Green,3429,36.9,61998,49.5,50.5,25241,143998,"[(['White alone'], ['3,490']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1624,1635,Weigelstown,12875,40.0,57035,47.5,52.5,28228,149005,"[(['White alone'], ['11,428']), (['Black alon...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1625,1636,West York,4571,32.9,42381,49.7,50.3,21568,101483,"[(['White alone'], ['3,615']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1626,1637,Winterstown,626,51.1,65746,45.7,54.3,28367,164233,"[(['White alone'], ['620']), (['Two or more r...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1627,1638,Yoe,1011,38.3,44157,50.7,49.3,22475,114973,"[(['White alone'], ['909']), (['Hispanic'], [...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1628,1639,Yorkana,229,37.1,58050,51.9,48.1,24846,129077,"[(['White alone'], ['218']), (['Hispanic'], [...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1629,1640,Yorklyn,1912,30.6,62462,46.1,53.9,29610,172000,"[(['White alone'], ['1,544']), (['Hispanic'],...",...,40.11,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1630,1641,Duboistown,1213,48.2,48781,49.9,50.1,25838,131575,"[(['White alone'], ['1,180']), (['Hispanic'],...",...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1631,1642,Faxon,1395,50.1,49052,51.0,49.0,25222,152800,"[(['White alone'], ['1,340']), (['Black alone...",...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1632,1643,Garden View,2503,45.5,43022,44.0,56.0,23269,135473,"[(['White alone'], ['2,393']), (['Black alone...",...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1633,1644,Kenmar,4124,41.6,49052,44.6,55.4,25222,152800,"[(['White alone'], ['3,804']), (['Black alone...",...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1634,1645,Oval,361,39.5,49052,50.1,49.9,25222,152800,"[(['White alone'], ['359']), (['American Indi...",...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1635,1646,Salladasburg,240,41.2,45453,49.0,51.0,23527,108292,"[(['White alone'], ['229']), (['Black alone']...",...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1636,1647,South Williamsport,6330,37.5,45800,47.6,52.4,24624,128543,"[(['White alone'], ['5,934']), (['Black alone...",...,41.23,-77.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1637,1648,West Falls,382,53.1,55354,52.9,47.1,27833,168598,"[(['White alone'], ['367']), (['Hispanic'], [...",...,41.56,-75.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1638,1649,Susquehanna Depot,1572,39.3,34198,46.9,53.1,16188,87725,"[(['White alone'], ['1,571']), (['Hispanic'],...",...,41.64,-75.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1639,1650,McAlisterville,971,35.4,52249,52.3,47.7,22433,136622,"[(['White alone'], ['956']), (['Hispanic'], [...",...,40.65,-77.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1640,1651,McConnellsburg,1049,40.2,36561,40.7,59.3,22241,139010,"[(['White alone'], ['1,125']), (['Black alone...",...,39.93,-78.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Create an extraction function using regular expressions 
import string 

def remove_punct(text):
    txt = "".join([char for char in text if char not in string.punctuation])
    return txt 

#val = """ [(['White alone'], ['1,587']), (['Hispanic'], ['17']), (['Two or more races'], ['9']), (['Black alone'], ['2']), (['American Indian alone'], ['1']), (['Asian alone'], ['1'])]"""  
#abc = remove_punct(val)

print(abc)

def extract(text):
    if 'White alone' in text:
        txt = text.split('White alone ')[1]
        txtw = txt.split(' ')[0]
    else:
        txtw = '0'
    if 'Hispanic' in text:
        txt = text.split('Hispanic ')[1]
        txth = txt.split(' ')[0]
    else:
        txth = '0'
    if 'Black alone' in text:
        txt = text.split('Black alone ')[1]
        txtb = txt.split(' ')[0] 
    else:
        txtb = '0'
    if 'Asian alone' in text: 
        txt = text.split('Asian alone ')[1]
        txta = txt.split(' ')[0]
    else:
        txta = '0'
    if 'American Indian alone' in text:
        txt = text.split('American Indian alone ')[1]
        txtai = txt.split(' ')[0]
    else:
        txtai = '0'
    if 'Two or more races' in text:
        txt = text.split('Two or more races ')[1]
        txttm = txt.split(' ')[0]
    else:
        txttm = '0'
    if 'Other race alone' in text:
        txt = text.split('Other race alone ')[1]
        txtoth = txt.split(' ')[0]
    else:
        txtoth = '0'
    if 'Native Hawaiian and Other Pacific Islander alonebr' in text:
        txt = text.split('Native Hawaiian and Other Pacific Islander alonebr ')[1]
        txtnh = txt.split(' ')[0]
    elif 'Native Hawaiian and Other Pacific Islander alone' in text:
        txt = text.split('Native Hawaiian and Other Pacific Islander alone ')[1]
        txtnh = txt.split(' ')[0]
    elif 'Native Hawaiian and Other  Pacific Islander alone' in text:
        txt = text.split('Native Hawaiian and Other  Pacific Islander alone ')[1]
        txtnh = txt.split(' ')[0]   
    else:
        txtnh ='0'
    return txtw, txth, txtb, txta, txtai, txttm, txtoth, txtnh 

#w, h, b, a, ai, tm, oth, nh = extract(abc)

#print(w+' '+h+' '+b+' '+a+' '+ai+' '+tm+' '+oth+' '+nh+' ')

 White alone 1587 Hispanic 17 Two or more races 9 Black alone 2 American Indian alone 1 Asian alone 1
1587 17 2 1 1 9 0 0

In [10]:
# Run the function on the dataframe iterating over the rows 
i=0
for index, row in data.iterrows():
    if i==1641:
        break
    line = row['Racial Breakdown']
    clean_text = remove_punct(line)
    w, h, b, a, ai, tm, oth, nh = extract(clean_text)
    data1.at[i, 'White alone'] = w
    data1.at[i, 'Hispanic'] = h
    data1.at[i, 'Two or more races'] = tm
    data1.at[i, 'Native Hawaiian'] = nh
    data1.at[i, 'Black alone'] = b
    data1.at[i, 'Asian alone'] = a
    data1.at[i, 'American Indian alone'] = ai
    data1.at[i, 'Other race alone'] = oth
    i = i + 1

In [11]:
# Extracted Ethnic data set
data1

,index,City,Population,Age,Average Income,Percent of Men in City,Percent of Women in City,Per Capita Income,Median House Value,Racial Breakdown,...,Lat,Long,White alone,Hispanic,Two or more races,Native Hawaiian,Black alone,Asian alone,American Indian alone,Other race alone
0,0,Aaronsburg,613,52.2,60710,53.5,46.5,26139,170914,"[(['White alone'], ['606']), (['Hispanic'], [...",...,40.86,-77.39,606.0,3.0,2.0,1.0,1.0,0.0,0.0,0.0
1,1,Bellefonte,6227,42.0,56571,48.8,51.2,31247,189215,"[(['White alone'], ['5,959']), (['Black alone...",...,40.91,-77.76,5959.0,51.0,19.0,0.0,146.0,16.0,34.0,0.0
2,2,Blanchard,740,34.8,48846,48.3,51.7,30640,135294,"[(['White alone'], ['722']), (['American Indi...",...,41.04,-77.70,722.0,3.0,5.0,0.0,0.0,2.0,8.0,0.0
3,3,Boalsburg,3722,44.6,108712,51.8,48.2,43686,266992,"[(['White alone'], ['3,443']), (['Black alone...",...,40.77,-77.79,3443.0,59.0,62.0,0.0,77.0,74.0,2.0,5.0
4,4,Centre Hall,1238,43.1,63807,49.2,50.8,29473,200108,"[(['White alone'], ['1,248']), (['Hispanic'],...",...,40.84,-77.68,1248.0,7.0,5.0,0.0,1.0,4.0,0.0,0.0
5,5,Clarence,626,46.6,55731,52.4,47.6,27037,141176,"[(['White alone'], ['622']), (['American Indi...",...,41.08,-77.87,622.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0
6,6,Coburn,236,31.9,67538,50.0,50.0,23545,134204,"[(['White alone'], ['228']), (['Hispanic'], [...",...,40.85,-77.49,228.0,4.0,2.0,0.0,2.0,0.0,0.0,0.0
7,7,Howard,718,44.7,55523,50.3,49.7,27453,162527,"[(['White alone'], ['695']), (['Hispanic'], [...",...,41.01,-77.65,695.0,10.0,8.0,0.0,2.0,2.0,0.0,3.0
8,8,Lemont,2270,45.9,98769,49.5,50.5,49294,249454,"[(['White alone'], ['2,119']), (['Asian alone...",...,40.78,-77.90,2119.0,30.0,31.0,1.0,39.0,44.0,5.0,1.0
9,9,Milesburg,1095,34.3,50180,46.9,53.1,26728,155446,"[(['White alone'], ['1,106']), (['Black alone...",...,40.94,-77.79,1106.0,3.0,2.0,0.0,5.0,5.0,1.0,1.0
10,10,Millheim,886,41.5,69671,53.9,46.1,28003,157080,"[(['White alone'], ['886']), (['Two or more r...",...,40.89,-77.47,886.0,2.0,14.0,0.0,1.0,0.0,1.0,0.0
11,11,Mingoville,503,39.2,60266,58.4,41.6,31158,224400,"[(['White alone'], ['498']), (['Hispanic'], [...",...,40.93,-77.74,498.0,3.0,1.0,0.0,0.0,1.0,0.0,0.0
12,12,Moshannon,281,49.5,60266,49.6,50.4,31158,224400,"[(['White alone'], ['280']), (['Asian alone']...",...,41.02,-78.04,280.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13,13,Philipsburg,2707,44.9,40309,46.7,53.3,26753,106971,"[(['White alone'], ['2,689']), (['Two or more...",...,40.89,-78.21,2689.0,18.0,27.0,0.0,9.0,20.0,6.0,1.0
14,14,Pine Grove Mills,1502,51.8,81063,44.2,55.8,37191,225925,"[(['White alone'], ['1,388']), (['Hispanic'],...",...,40.73,-77.87,1388.0,32.0,23.0,0.0,26.0,30.0,2.0,1.0
15,15,Port Matilda,596,39.0,56769,46.0,54.0,29185,108170,"[(['White alone'], ['591']), (['Hispanic'], [...",...,40.79,-78.05,591.0,7.0,5.0,0.0,1.0,1.0,1.0,0.0
16,16,Rebersburg,494,36.4,50334,46.0,54.0,19560,140196,"[(['White alone'], ['483']), (['Two or more r...",...,40.94,-77.49,483.0,0.0,5.0,0.0,2.0,3.0,1.0,0.0
17,17,Sandy Ridge,407,43.3,120587,35.8,64.2,28824,95207,"[(['White alone'], ['405']), (['Hispanic'], [...",...,40.79,-78.21,405.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
18,18,Snow Shoe,774,38.9,64154,49.0,51.0,26412,127777,"[(['White alone'], ['761']), (['Two or more r...",...,41.02,-77.95,761.0,1.0,2.0,0.0,0.0,1.0,0.0,0.0
19,19,Spring Mills,268,34.4,55384,53.9,46.1,27452,117756,"[(['White alone'], ['266']), (['Two or more r...",...,40.86,-77.57,266.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
20,20,State College,42100,22.2,35023,54.3,45.7,19736,300326,"[(['White alone'], ['32,863']), (['Asian alon...",...,40.79,-77.85,32863.0,1887.0,909.0,35.0,1642.0,4724.0,55.0,67.0
21,21,Unionville,281,39.5,52615,44.7,55.3,26946,136165,"[(['White alone'], ['284']), (['Asian alone']...",...,39.89,-75.73,284.0,2.0,2.0,0.0,1.0,2.0,0.0,0.0
22,22,Abbottstown,1013,36.9,56524,50.1,49.9,22680,152520,"[(['White alone'], ['894']), (['Hispanic'], [...",...,39.88,-76.98,894.0,95.0,5.0,0.0,7.0,10.0,0.0,0.0
23,23,Arendtsville,954,34.1,56018,48.9,51.1,23856,184065,"[(['White alone'], ['742']), (['Hispanic'], [...",...,39.92,-77.30,742.0,156.0,17.0,0.0,27.0,5.0,5.0,0.0
24,24,Aspers,350,36.9,59300,56.2,43.8,28404,206900,"[(['White alone'], ['257']), (['Hispanic'], [...",...,39.97,-77.23,257.0,89.0,2.0,0.0,1.0,0.0,0.0,1.0
25,25,Bendersville,641,34.0,55260,47.6,52.4,20723,177479,"[(['White alone'], ['486']), (['Hispanic'], [...",...,39.98,-77.24,486.0,135.0,10.0,0.0,3.0,3.0,4.0,0.0
26,26,Biglerville,1202,36.3,48477,49.5,50.5,25095,180453,"[(['White alone'], ['953']), (['Hispanic'], [...",...,39.93,-77.24,953.0,229.0,5.0,0.0,8.0,4.0,1.0,0.0
27,27,Cashtown,459,47.2,59300,44.6,55.4,28404,206900,"[(['White alone'], ['428']), (['Hispanic'], [...",...,39.88,-77.34,428.0,27.0,2.0,0.0,1.0,0.0,1.0,0.0
28,28,East Berlin,1524,40.6,55376,42.1,57.9,25412,187145,"[(['White alone'], ['1,477']), (['Two or more...",...,39.93,-76.97,1477.0,10.0,26.0,0.0,19.0,10.0,5.0,0.0
29,29,Fairfield,506,52.8,50573,43.6,56.4,26569,191499,"[(['White alone'], ['479']), (['Black alone']...",...,39.78,-77.36,479.0,12.0,3.0,0.0,12.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611,1622,North York,1974,36.1,42787,51.0,49.0,22225,92183,"[(['White alone'], ['1,491']), (['Hispanic'],...",...,40.11,-77.03,1491.0,190.0,63.0,0.0,134.0,24.0,3.0,9.0
1612,1623,Parkville,6706,35.6,55648,47.5,52.5,26797,153093,"[(['White alone'], ['6,285']), (['Hispanic'],...",...,40.11,-77.03,6285.0,201.0,82.0,1.0,56.0,53.0,10.0,18.0
1613,1624,Pennville,1947,46.4,48768,44.3,55.7,26290,144917,"[(['White alone'], ['1,841']), (['Hispanic'],...",...,40.11,-77.03,1841.0,38.0,24.0,0.0,28.0,10.0,4.0,2.0
1614,1625,Queens Gate,1464,31.7,62462,47.7,52.3,29610,172000,"[(['White alone'], ['1,127']), (['Hispanic'],...",...,40.11,-77.03,1127.0,111.0,19.0,2.0,98.0,102.0,2.0,3.0
1615,1626,Shiloh,11218,47.9,67266,47.5,52.5,30353,175373,"[(['White alone'], ['10,056']), (['Black alon...",...,40.11,-77.03,10056.0,348.0,160.0,4.0,482.0,153.0,8.0,7.0
1616,1627,Springetts Manor-Yorklyn,4577,37.3,53210,59.3,40.7,25542,165482,"[(['White alone'], ['3,079']), (['Black alone...",...,40.11,-77.03,3079.0,329.0,19.0,2.0,574.0,141.0,5.0,7.0
1617,1628,Spry,4891,42.4,68495,48.2,51.8,32807,171080,"[(['White alone'], ['4,475']), (['Hispanic'],...",...,40.11,-77.03,4475.0,141.0,60.0,1.0,122.0,80.0,9.0,3.0
1618,1629,Stonybrook-Wilshire,5963,42.3,78658,49.1,50.9,38502,217941,"[(['White alone'], ['5,005']), (['Asian alone...",...,40.11,-77.03,5005.0,95.0,59.0,4.0,108.0,135.0,8.0,0.0
1619,1630,Stonybrook,2384,43.9,62462,52.9,47.1,29610,172000,"[(['White alone'], ['2,110']), (['Black alone...",...,40.11,-77.03,2110.0,62.0,27.0,0.0,101.0,82.0,0.0,2.0
1620,1631,Susquehanna Trails,2264,30.2,71002,50.5,49.5,24916,145428,"[(['White alone'], ['2,165']), (['Two or more...",...,40.11,-77.03,2165.0,27.0,41.0,0.0,19.0,5.0,6.0,1.0
1621,1632,Tyler Run-Queens Gate,3222,45.2,53155,45.1,54.9,35933,186307,"[(['White alone'], ['2,731']), (['Black alone...",...,40.11,-77.03,2731.0,38.0,13.0,2.0,87.0,50.0,3.0,2.0
1622,1633,Tyler Run,1901,56.8,62462,49.3,50.7,29610,172000,"[(['White alone'], ['1,773']), (['Black alone...",...,40.11,-77.03,1773.0,25.0,15.0,1.0,64.0,23.0,0.0,0.0
1623,1634,Valley Green,3429,36.9,61998,49.5,50.5,25241,143998,"[(['White alone'], ['3,490']), (['Hispanic'],...",...,40.11,-77.03,3490.0,360.0,323.0,0.0,65.0,166.0,15.0,0.0
1624,1635,Weigelstown,12875,40.0,57035,47.5,52.5,28228,149005,"[(['White alone'], ['11,428']), (['Black alon...",...,40.11,-77.03,11428.0,515.0,197.0,6.0,574.0,116.0,24.0,15.0
1625,1636,West York,4571,32.9,42381,49.7,50.3,21568,101483,"[(['White alone'], ['3,615']), (['Hispanic'],...",...,40.11,-77.03,3615.0,419.0,188.0,4.0,342.0,36.0,11.0,2.0
1626,1637,Winterstown,626,51.1,65746,45.7,54.3,28367,164233,"[(['White alone'], ['620']), (['Two or more r...",...,40.11,-77.03,620.0,5.0,5.0,0.0,0.0,2.0,0.0,0.0
1627,1638,Yoe,1011,38.3,44157,50.7,49.3,22475,114973,"[(['White alone'], ['909']), (['Hispanic'], [...",...,40.11,-77.03,909.0,44.0,17.0,0.0,40.0,3.0,5.0,0.0
1628,1639,Yorkana,229,37.1,58050,51.9,48.1,24846,129077,"[(['White alone'], ['218']), (['Hispanic'], [...",...,40.11,-77.03,218.0,9.0,0.0,0.0,2.0,0.0,0.0,0.0
1629,1640,Yorklyn,1912,30.6,62462,46.1,53.9,29610,172000,"[(['White alone'], ['1,544']), (['Hispanic'],...",...,40.11,-77.03,1544.0,131.0,50.0,1.0,126.0,46.0,5.0,9.0
1630,1641,Duboistown,1213,48.2,48781,49.9,50.1,25838,131575,"[(['White alone'], ['1,180']), (['Hispanic'],...",...,41.23,-77.03,1180.0,10.0,8.0,0.0,1.0,5.0,1.0,0.0
1631,1642,Faxon,1395,50.1,49052,51.0,49.0,25222,152800,"[(['White alone'], ['1,340']), (['Black alone...",...,41.23,-77.03,1340.0,13.0,6.0,0.0,18.0,16.0,2.0,0.0
1632,1643,Garden View,2503,45.5,43022,44.0,56.0,23269,135473,"[(['White alone'], ['2,393']), (['Black alone...",...,41.23,-77.03,2393.0,24.0,27.0,0.0,35.0,17.0,4.0,3.0
1633,1644,Kenmar,4124,41.6,49052,44.6,55.4,25222,152800,"[(['White alone'], ['3,804']), (['Black alone...",...,41.23,-77.03,3804.0,120.0,16.0,0.0,230.0,18.0,57.0,92.0
1634,1645,Oval,361,39.5,49052,50.1,49.9,25222,152800,"[(['White alone'], ['359']), (['American Indi...",...,41.23,-77.03,359.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1635,1646,Salladasburg,240,41.2,45453,49.0,51.0,23527,108292,"[(['White alone'], ['229']), (['Black alone']...",...,41.23,-77.03,229.0,1.0,1.0,0.0,5.0,2.0,0.0,0.0
1636,1647,South Williamsport,6330,37.5,45800,47.6,52.4,24624,128543,"[(['White alone'], ['5,934']), (['Black alone...",...,41.23,-77.03,5934.0,25.0,104.0,0.0,121.0,79.0,16.0,0.0
1637,1648,West Falls,382,53.1,55354,52.9,47.1,27833,168598,"[(['White alone'], ['367']), (['Hispanic'], [...",...,41.56,-75.78,367.0,10.0,2.0,0.0,3.0,0.0,0.0,0.0
1638,1649,Susquehanna Depot,1572,39.3,34198,46.9,53.1,16188,87725,"[(['White alone'], ['1,571']), (['Hispanic'],...",...,41.64,-75.59,1571.0,33.0,12.0,0.0,6.0,16.0,5.0,0.0
1639,1650,McAlisterville,971,35.4,52249,52.3,47.7,22433,136622,"[(['White alone'], ['956']), (['Hispanic'], [...",...,40.65,-77.10,956.0,9.0,0.0,0.0,4.0,2.0,0.0,0.0
1640,1651,McConnellsburg,1049,40.2,36561,40.7,59.3,22241,139010,"[(['White alone'], ['1,125']), (['Black alone...",...,39.93,-78.21,1125.0,6.0,36.0,0.0,49.0,1.0,2.0,1.0

In [12]:
# Remove additional index column
del data1['index']

In [13]:
data1

,City,Population,Age,Average Income,Percent of Men in City,Percent of Women in City,Per Capita Income,Median House Value,Racial Breakdown,County,...,Lat,Long,White alone,Hispanic,Two or more races,Native Hawaiian,Black alone,Asian alone,American Indian alone,Other race alone
0,Aaronsburg,613,52.2,60710,53.5,46.5,26139,170914,"[(['White alone'], ['606']), (['Hispanic'], [...",Centre-County,...,40.86,-77.39,606.0,3.0,2.0,1.0,1.0,0.0,0.0,0.0
1,Bellefonte,6227,42.0,56571,48.8,51.2,31247,189215,"[(['White alone'], ['5,959']), (['Black alone...",Centre-County,...,40.91,-77.76,5959.0,51.0,19.0,0.0,146.0,16.0,34.0,0.0
2,Blanchard,740,34.8,48846,48.3,51.7,30640,135294,"[(['White alone'], ['722']), (['American Indi...",Centre-County,...,41.04,-77.70,722.0,3.0,5.0,0.0,0.0,2.0,8.0,0.0
3,Boalsburg,3722,44.6,108712,51.8,48.2,43686,266992,"[(['White alone'], ['3,443']), (['Black alone...",Centre-County,...,40.77,-77.79,3443.0,59.0,62.0,0.0,77.0,74.0,2.0,5.0
4,Centre Hall,1238,43.1,63807,49.2,50.8,29473,200108,"[(['White alone'], ['1,248']), (['Hispanic'],...",Centre-County,...,40.84,-77.68,1248.0,7.0,5.0,0.0,1.0,4.0,0.0,0.0
5,Clarence,626,46.6,55731,52.4,47.6,27037,141176,"[(['White alone'], ['622']), (['American Indi...",Centre-County,...,41.08,-77.87,622.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0
6,Coburn,236,31.9,67538,50.0,50.0,23545,134204,"[(['White alone'], ['228']), (['Hispanic'], [...",Centre-County,...,40.85,-77.49,228.0,4.0,2.0,0.0,2.0,0.0,0.0,0.0
7,Howard,718,44.7,55523,50.3,49.7,27453,162527,"[(['White alone'], ['695']), (['Hispanic'], [...",Centre-County,...,41.01,-77.65,695.0,10.0,8.0,0.0,2.0,2.0,0.0,3.0
8,Lemont,2270,45.9,98769,49.5,50.5,49294,249454,"[(['White alone'], ['2,119']), (['Asian alone...",Centre-County,...,40.78,-77.90,2119.0,30.0,31.0,1.0,39.0,44.0,5.0,1.0
9,Milesburg,1095,34.3,50180,46.9,53.1,26728,155446,"[(['White alone'], ['1,106']), (['Black alone...",Centre-County,...,40.94,-77.79,1106.0,3.0,2.0,0.0,5.0,5.0,1.0,1.0
10,Millheim,886,41.5,69671,53.9,46.1,28003,157080,"[(['White alone'], ['886']), (['Two or more r...",Centre-County,...,40.89,-77.47,886.0,2.0,14.0,0.0,1.0,0.0,1.0,0.0
11,Mingoville,503,39.2,60266,58.4,41.6,31158,224400,"[(['White alone'], ['498']), (['Hispanic'], [...",Centre-County,...,40.93,-77.74,498.0,3.0,1.0,0.0,0.0,1.0,0.0,0.0
12,Moshannon,281,49.5,60266,49.6,50.4,31158,224400,"[(['White alone'], ['280']), (['Asian alone']...",Centre-County,...,41.02,-78.04,280.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13,Philipsburg,2707,44.9,40309,46.7,53.3,26753,106971,"[(['White alone'], ['2,689']), (['Two or more...",Centre-County,...,40.89,-78.21,2689.0,18.0,27.0,0.0,9.0,20.0,6.0,1.0
14,Pine Grove Mills,1502,51.8,81063,44.2,55.8,37191,225925,"[(['White alone'], ['1,388']), (['Hispanic'],...",Centre-County,...,40.73,-77.87,1388.0,32.0,23.0,0.0,26.0,30.0,2.0,1.0
15,Port Matilda,596,39.0,56769,46.0,54.0,29185,108170,"[(['White alone'], ['591']), (['Hispanic'], [...",Centre-County,...,40.79,-78.05,591.0,7.0,5.0,0.0,1.0,1.0,1.0,0.0
16,Rebersburg,494,36.4,50334,46.0,54.0,19560,140196,"[(['White alone'], ['483']), (['Two or more r...",Centre-County,...,40.94,-77.49,483.0,0.0,5.0,0.0,2.0,3.0,1.0,0.0
17,Sandy Ridge,407,43.3,120587,35.8,64.2,28824,95207,"[(['White alone'], ['405']), (['Hispanic'], [...",Centre-County,...,40.79,-78.21,405.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
18,Snow Shoe,774,38.9,64154,49.0,51.0,26412,127777,"[(['White alone'], ['761']), (['Two or more r...",Centre-County,...,41.02,-77.95,761.0,1.0,2.0,0.0,0.0,1.0,0.0,0.0
19,Spring Mills,268,34.4,55384,53.9,46.1,27452,117756,"[(['White alone'], ['266']), (['Two or more r...",Centre-County,...,40.86,-77.57,266.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
20,State College,42100,22.2,35023,54.3,45.7,19736,300326,"[(['White alone'], ['32,863']), (['Asian alon...",Centre-County,...,40.79,-77.85,32863.0,1887.0,909.0,35.0,1642.0,4724.0,55.0,67.0
21,Unionville,281,39.5,52615,44.7,55.3,26946,136165,"[(['White alone'], ['284']), (['Asian alone']...",Centre-County,...,39.89,-75.73,284.0,2.0,2.0,0.0,1.0,2.0,0.0,0.0
22,Abbottstown,1013,36.9,56524,50.1,49.9,22680,152520,"[(['White alone'], ['894']), (['Hispanic'], [...",Adams-County,...,39.88,-76.98,894.0,95.0,5.0,0.0,7.0,10.0,0.0,0.0
23,Arendtsville,954,34.1,56018,48.9,51.1,23856,184065,"[(['White alone'], ['742']), (['Hispanic'], [...",Adams-County,...,39.92,-77.30,742.0,156.0,17.0,0.0,27.0,5.0,5.0,0.0
24,Aspers,350,36.9,59300,56.2,43.8,28404,206900,"[(['White alone'], ['257']), (['Hispanic'], [...",Adams-County,...,39.97,-77.23,257.0,89.0,2.0,0.0,1.0,0.0,0.0,1.0
25,Bendersville,641,34.0,55260,47.6,52.4,20723,177479,"[(['White alone'], ['486']), (['Hispanic'], [...",Adams-County,...,39.98,-77.24,486.0,135.0,10.0,0.0,3.0,3.0,4.0,0.0
26,Biglerville,1202,36.3,48477,49.5,50.5,25095,180453,"[(['White alone'], ['953']), (['Hispanic'], [...",Adams-County,...,39.93,-77.24,953.0,229.0,5.0,0.0,8.0,4.0,1.0,0.0
27,Cashtown,459,47.2,59300,44.6,55.4,28404,206900,"[(['White alone'], ['428']), (['Hispanic'], [...",Adams-County,...,39.88,-77.34,428.0,27.0,2.0,0.0,1.0,0.0,1.0,0.0
28,East Berlin,1524,40.6,55376,42.1,57.9,25412,187145,"[(['White alone'], ['1,477']), (['Two or more...",Adams-County,...,39.93,-76.97,1477.0,10.0,26.0,0.0,19.0,10.0,5.0,0.0
29,Fairfield,506,52.8,50573,43.6,56.4,26569,191499,"[(['White alone'], ['479']), (['Black alone']...",Adams-County,...,39.78,-77.36,479.0,12.0,3.0,0.0,12.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611,North York,1974,36.1,42787,51.0,49.0,22225,92183,"[(['White alone'], ['1,491']), (['Hispanic'],...",York-County,...,40.11,-77.03,1491.0,190.0,63.0,0.0,134.0,24.0,3.0,9.0
1612,Parkville,6706,35.6,55648,47.5,52.5,26797,153093,"[(['White alone'], ['6,285']), (['Hispanic'],...",York-County,...,40.11,-77.03,6285.0,201.0,82.0,1.0,56.0,53.0,10.0,18.0
1613,Pennville,1947,46.4,48768,44.3,55.7,26290,144917,"[(['White alone'], ['1,841']), (['Hispanic'],...",York-County,...,40.11,-77.03,1841.0,38.0,24.0,0.0,28.0,10.0,4.0,2.0
1614,Queens Gate,1464,31.7,62462,47.7,52.3,29610,172000,"[(['White alone'], ['1,127']), (['Hispanic'],...",York-County,...,40.11,-77.03,1127.0,111.0,19.0,2.0,98.0,102.0,2.0,3.0
1615,Shiloh,11218,47.9,67266,47.5,52.5,30353,175373,"[(['White alone'], ['10,056']), (['Black alon...",York-County,...,40.11,-77.03,10056.0,348.0,160.0,4.0,482.0,153.0,8.0,7.0
1616,Springetts Manor-Yorklyn,4577,37.3,53210,59.3,40.7,25542,165482,"[(['White alone'], ['3,079']), (['Black alone...",York-County,...,40.11,-77.03,3079.0,329.0,19.0,2.0,574.0,141.0,5.0,7.0
1617,Spry,4891,42.4,68495,48.2,51.8,32807,171080,"[(['White alone'], ['4,475']), (['Hispanic'],...",York-County,...,40.11,-77.03,4475.0,141.0,60.0,1.0,122.0,80.0,9.0,3.0
1618,Stonybrook-Wilshire,5963,42.3,78658,49.1,50.9,38502,217941,"[(['White alone'], ['5,005']), (['Asian alone...",York-County,...,40.11,-77.03,5005.0,95.0,59.0,4.0,108.0,135.0,8.0,0.0
1619,Stonybrook,2384,43.9,62462,52.9,47.1,29610,172000,"[(['White alone'], ['2,110']), (['Black alone...",York-County,...,40.11,-77.03,2110.0,62.0,27.0,0.0,101.0,82.0,0.0,2.0
1620,Susquehanna Trails,2264,30.2,71002,50.5,49.5,24916,145428,"[(['White alone'], ['2,165']), (['Two or more...",York-County,...,40.11,-77.03,2165.0,27.0,41.0,0.0,19.0,5.0,6.0,1.0
1621,Tyler Run-Queens Gate,3222,45.2,53155,45.1,54.9,35933,186307,"[(['White alone'], ['2,731']), (['Black alone...",York-County,...,40.11,-77.03,2731.0,38.0,13.0,2.0,87.0,50.0,3.0,2.0
1622,Tyler Run,1901,56.8,62462,49.3,50.7,29610,172000,"[(['White alone'], ['1,773']), (['Black alone...",York-County,...,40.11,-77.03,1773.0,25.0,15.0,1.0,64.0,23.0,0.0,0.0
1623,Valley Green,3429,36.9,61998,49.5,50.5,25241,143998,"[(['White alone'], ['3,490']), (['Hispanic'],...",York-County,...,40.11,-77.03,3490.0,360.0,323.0,0.0,65.0,166.0,15.0,0.0
1624,Weigelstown,12875,40.0,57035,47.5,52.5,28228,149005,"[(['White alone'], ['11,428']), (['Black alon...",York-County,...,40.11,-77.03,11428.0,515.0,197.0,6.0,574.0,116.0,24.0,15.0
1625,West York,4571,32.9,42381,49.7,50.3,21568,101483,"[(['White alone'], ['3,615']), (['Hispanic'],...",York-County,...,40.11,-77.03,3615.0,419.0,188.0,4.0,342.0,36.0,11.0,2.0
1626,Winterstown,626,51.1,65746,45.7,54.3,28367,164233,"[(['White alone'], ['620']), (['Two or more r...",York-County,...,40.11,-77.03,620.0,5.0,5.0,0.0,0.0,2.0,0.0,0.0
1627,Yoe,1011,38.3,44157,50.7,49.3,22475,114973,"[(['White alone'], ['909']), (['Hispanic'], [...",York-County,...,40.11,-77.03,909.0,44.0,17.0,0.0,40.0,3.0,5.0,0.0
1628,Yorkana,229,37.1,58050,51.9,48.1,24846,129077,"[(['White alone'], ['218']), (['Hispanic'], [...",York-County,...,40.11,-77.03,218.0,9.0,0.0,0.0,2.0,0.0,0.0,0.0
1629,Yorklyn,1912,30.6,62462,46.1,53.9,29610,172000,"[(['White alone'], ['1,544']), (['Hispanic'],...",York-County,...,40.11,-77.03,1544.0,131.0,50.0,1.0,126.0,46.0,5.0,9.0
1630,Duboistown,1213,48.2,48781,49.9,50.1,25838,131575,"[(['White alone'], ['1,180']), (['Hispanic'],...",Lycoming-County,...,41.23,-77.03,1180.0,10.0,8.0,0.0,1.0,5.0,1.0,0.0
1631,Faxon,1395,50.1,49052,51.0,49.0,25222,152800,"[(['White alone'], ['1,340']), (['Black alone...",Lycoming-County,...,41.23,-77.03,1340.0,13.0,6.0,0.0,18.0,16.0,2.0,0.0
1632,Garden View,2503,45.5,43022,44.0,56.0,23269,135473,"[(['White alone'], ['2,393']), (['Black alone...",Lycoming-County,...,41.23,-77.03,2393.0,24.0,27.0,0.0,35.0,17.0,4.0,3.0
1633,Kenmar,4124,41.6,49052,44.6,55.4,25222,152800,"[(['White alone'], ['3,804']), (['Black alone...",Lycoming-County,...,41.23,-77.03,3804.0,120.0,16.0,0.0,230.0,18.0,57.0,92.0
1634,Oval,361,39.5,49052,50.1,49.9,25222,152800,"[(['White alone'], ['359']), (['American Indi...",Lycoming-County,...,41.23,-77.03,359.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1635,Salladasburg,240,41.2,45453,49.0,51.0,23527,108292,"[(['White alone'], ['229']), (['Black alone']...",Lycoming-County,...,41.23,-77.03,229.0,1.0,1.0,0.0,5.0,2.0,0.0,0.0
1636,South Williamsport,6330,37.5,45800,47.6,52.4,24624,128543,"[(['White alone'], ['5,934']), (['Black alone...",Lycoming-County,...,41.23,-77.03,5934.0,25.0,104.0,0.0,121.0,79.0,16.0,0.0
1637,West Falls,382,53.1,55354,52.9,47.1,27833,168598,"[(['White alone'], ['367']), (['Hispanic'], [...",Wyoming-County,...,41.56,-75.78,367.0,10.0,2.0,0.0,3.0,0.0,0.0,0.0
1638,Susquehanna Depot,1572,39.3,34198,46.9,53.1,16188,87725,"[(['White alone'], ['1,571']), (['Hispanic'],...",Susquehanna-County,...,41.64,-75.59,1571.0,33.0,12.0,0.0,6.0,16.0,5.0,0.0
1639,McAlisterville,971,35.4,52249,52.3,47.7,22433,136622,"[(['White alone'], ['956']), (['Hispanic'], [...",Juniata-County,...,40.65,-77.10,956.0,9.0,0.0,0.0,4.0,2.0,0.0,0.0
1640,McConnellsburg,1049,40.2,36561,40.7,59.3,22241,139010,"[(['White alone'], ['1,125']), (['Black alone...",Fulton-County,...,39.93,-78.21,1125.0,6.0,36.0,0.0,49.0,1.0,2.0,1.0

In [14]:
# Create a CSV for further processing
data1.to_csv('files/ethnicity.csv', sep=',', encoding='utf-8')